<ion-header>
  <ion-toolbar color="toolbar">
    <ion-title>Notificações</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="atualizarNotificacoes()">
        <ion-icon name="reload-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="fundo">

  <ion-refresher slot="fixed" (ionRefresh)="atualizarNotificacoes($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Progresso atualização -->
  <ion-progress-bar type="indeterminate" *ngIf="(carregando == true)"></ion-progress-bar>

  <div *ngIf="(motorista.getPlacaVeiculo() == '')">
    <app-selecionar-veiculo></app-selecionar-veiculo>
  </div>

  <div *ngIf="(motorista.getPlacaVeiculo() != '')">

    <!-- Exibe a mensagem Nenhuma notificação -->
    <div id="container" *ngIf="!(motorista.notificacoes.length > 0)">
      <ion-label>
        <ion-text>
          <h2><strong>Nenhuma notificação</strong></h2>
        </ion-text>
      </ion-label>
    </div>

    <!-- Exibe as notificações -->
    <ion-list lines="full" class="ion-no-padding" *ngIf="(motorista.notificacoes.length > 0)">
      <div *ngFor="let notif of motorista.notificacoes">

        <ion-item button (click)="exibirNotificacao(notif)">

          <ion-label *ngIf="(notif.lida == 'N')">
            <h2><strong>{{ notif.titulo }}</strong></h2>
            <p><strong>{{ procs.getDataHoraFormat(notif.dt_criada) }}</strong></p>
          </ion-label>

          <ion-label *ngIf="(notif.lida != 'N')">
            <h2>{{ notif.titulo }}</h2>
            <p>{{ procs.getDataHoraFormat(notif.dt_criada) }}</p>
          </ion-label>

          <ion-chip slot="end" color="dark" outline style="border: 0px; margin: 0px;" *ngIf="(notif.lida == 'N')">
            <ion-icon name="checkmark-sharp" color="dark"></ion-icon>
          </ion-chip>

          <ion-chip slot="end" color="medium" outline style="border: 0px; margin: 0px;" *ngIf="(notif.lida != 'N')">
            {{ procs.getDataHoraFormat(notif.dt_lida) }} <ion-icon name="checkmark-done-sharp" color="secondary">
            </ion-icon>
          </ion-chip>

        </ion-item>

      </div>
    </ion-list>

  </div>

</ion-content>