container_commands:
  01cacheclear:
    command: "LANG=C php artisan cache:clear"
  02routeclear:
    command: "LANG=C php artisan route:clear"
  03configclear:
    command: "LANG=C php artisan config:clear"
  04viewclear:
    command: "LANG=C php artisan view:clear"
  05migrate:
    command: "LANG=C php artisan migrate --force"
