files:
  "/etc/php-fpm.d/zzz-custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      pm = dynamic
      pm.max_children = 15
      pm.start_servers = 4
      pm.min_spare_servers = 3
      pm.max_spare_servers = 6
      pm.max_requests = 300
      request_slowlog_timeout = 5s
      slowlog = /var/log/php-fpm/www-slow.log
      request_slowlog_trace_depth = 20
      request_terminate_timeout = 0

  "/etc/logrotate.d/php-fpm":
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/php-fpm/*.log {
        daily
        rotate 7
        compress
        missingok
        notifempty
        sharedscripts
        delaycompress
        postrotate
          /bin/kill -SIGUSR1 $(cat /run/php-fpm/php-fpm.pid 2>/dev/null) 2>/dev/null || true
        endscript
      }

container_commands:
  01_restart_php_fpm:
    command: "LANG=C systemctl restart php-fpm"  