<div id="container" class="ion-padding">
  <ion-card mode="ios">

    <div class="ion-padding-top">
      <!-- <ion-img src="../../assets/veiculo.png"></ion-img> -->
      <ion-icon src="../../assets/truck.svg" color="medium"></ion-icon>
    </div>

    <div class="ion-padding-bottom">
      <ion-label>
        <ion-text color="azul-logo">
          <h2>Você não está atendendo!</h2>
        </ion-text>
      </ion-label>
    </div>

    <div class="ion-padding-bottom">
      <p>Selecione um veículo para</p>
      <p>iniciar seu trabalho.</p>
    </div>

    <div class="ion-padding-bottom">
      <ion-button mode="ios" shape="round" class="ion-margin" (click)="alterarVeiculo()">
        SELECIONAR VEÍCULO
      </ion-button>
    </div>
  </ion-card>
</div>