<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="location.back()">
        <ion-icon name="arrow-back-outline" color="azul-logo" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Veículos Próximos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fundo">

  <!-- Mensagem sem veículos próximos -->
  <div id="container"
    *ngIf="(((motorista.veiculosProx.placa == '') || (motorista.veiculosProx.placa == null)) && (motorista.veiculosOutros.length == 0))">
    <p>Nenhum veículo próximo.</p>
  </div>

  <div *ngIf="(motorista.veiculosProx.placa > '')">
    <div class="ion-padding-top ion-padding-horizontal">
      <ion-label>
        Mais próximo
      </ion-label>
    </div>

    <ion-card button mode="ios" (click)="informarCodigoBaldeacao(motorista.veiculosProx.placa)">
      <ion-item lines="none">
        <ion-icon src="../../assets/truck.svg" color="medium" slot="start"></ion-icon>
        <ion-label>
          <ion-text color="primary">
            <h2>{{ motorista.veiculosProx.placa }}</h2>
          </ion-text>
          <h3>{{ motorista.veiculosProx.distancia }}km - {{ motorista.veiculosProx.tempo }}</h3>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="(motorista.veiculosOutros.length > 0)">
    <div class="ion-padding-top ion-padding-horizontal">
      <ion-label>
        Outros
      </ion-label>
    </div>

    <ion-card button mode="ios" *ngFor="let veiculo of motorista.veiculosOutros" (click)="informarCodigoBaldeacao(veiculo.placa)">
      <ion-item lines="none">
        <ion-icon src="../../assets/truck.svg" color="medium" slot="start"></ion-icon>
        <ion-label>
          <ion-text color="primary">
            <h2>{{ veiculo.placa }}</h2>
          </ion-text>
          <h3>{{ veiculo.distancia }}km - {{ veiculo.tempo }}</h3>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

</ion-content>